@charset "utf-8";
 
/*
    WEB 2630 Javascript Review
    By: Amber Jeffers
    Date: August 30, 2021
    Filename: rpsstyles.css
 
*/


/* Overall */
html {
    background-color: #252323;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#gameBox {
    margin-bottom: 200px;
}

/* Header */
h1 {
    text-align: center;
    margin-top: 30px;
    color: #F5F1ED;
    font-size: 40px;
}

h3 {
    text-align: center;
    color: #F5F1ED;
    margin-bottom: 20px;
    font-size: 25px;
}

/* Result */
div#result {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}


/* Table */
table, th {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #70798C;
    border-collapse: collapse;
    padding: 15px;
    color: #DDDFE3;
    font-size: 30px;
}

td {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #F5F1ED;
}

td.choices {
    text-align: center;
}

img {
    display: inline-block;
    margin: auto;
    width: 15%;
    height: 15%;
    padding: 20px;
    margin: 0 20px;
    border: 2px solid #F5F1ED;
    border-radius: 20%;
}

img:hover {
    cursor: pointer;
    border: 2px solid red;
    border-radius: 20%;
}